.container {
    padding: 20px;
    display : flex;
   flex-flow: row wrap;
 
}

.container > div {
    border: 1px solid black;
    background: #ececec;
    margin:5px;
    max-width:350px;
    height: auto;
    padding: 10px;
    margin-left: 10px;
    flex: 1;
}
h4{
    text-align: center;
}